extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg update room
      form.form.form--updateRoom
        .form__group
          label.form__label(for='name') Room Name
          input#name.form__input(type='text',value=`${room.name}`,name='name', required)
        .form__group
          label.form__label(for='address') Address
          input#address.form__input(type='text', value=`${room.address}`,name='address',   required)
        .form__group
          label.form__label(for='BHK') BHK
          input#BHK.form__input(type='number', value=`${room.BHK}`, name='BHK',  required)
        .form__group
          label.form__label(for='city') city
          input#city.form__input(type='text', value=`${room.city}`,name='city',   required)
        .form__group.ma-bt-md
          label.form__label(for='state') State
          input#state.form__input(type='text', value=`${room.state}`,name='state',   required, )
        .form__group.ma-bt-md
          label.form__label(for='pin') Pin Code
          input#pin.form__input(type='number',  required,value=`${room.pin}`,name='pin',   minlength='6')
        .form__group.ma-bt-md
          label.form__label(for='price') Price
          input#price.form__input(type='number', value=`${room.price}`, name='price',  required, )
        .form__group.ma-bt-md
          label.form__label(for='imageCover') Image Cover
          input#coverImg.form__input(type='text', value=`${room.imageCover} `,name='imageCover',  required, )
        .form__group.ma-bt-md
          label.form__label(for='image') Other Images
          input#imgs.form__input(type='text', value=`${room.image}`, name='image',  required, )
        .form__group.ma-bt-md
          label.form__label(for='summary') Summary
          textarea(rows=3)#summary.form__input(type='password',value=`${room.summary}`,name='summary',  required)
        .form__group.ma-bt-md
          label.form__label(for='description') Description
          textarea(rows=5)#description.form__input(type='password',value=`${room.description}`,name='description', required,)
        .form__group
          button.btn.btn--green.btn-updateRoom  Update
          


          